.filterLabel {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(226, 232, 238);
  border-radius: 10px;
  padding: 25px 0;
  margin-bottom: 20px;
  margin-left: 60px;
}

.filterTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 10px 5px;
}

.filterInput {
  height: 40px;
  width: 300px;
  border: 1px solid;
  font-size: large;
  text-align: left;
  border-radius: 10px;
  padding: 10px 5px;
  outline: 0;
}

.filterInput:focus {
  border: 1px solid #185498;
}
